modules/platforms/dotnet/Apache.Ignite.Core/IgniteConfigurationSection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="IgniteConfigurationSection"
    targetNamespace="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection"
    elementFormDefault="qualified"
    xmlns="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection"
    xmlns:mstns="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="igniteConfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="binaryConfiguration" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="typeConfigurations">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="binaryTypeConfiguration">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nameMapper" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="idMapper" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="serializer" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="typeName" type="xs:string" use="required" />
                                                <xs:attribute name="affinityKeyFieldName" type="xs:string" use="required" />
                                                <xs:attribute name="keepDeserialized" type="xs:string" use="required" />
                                                <xs:attribute name="isEnum" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="defaultNameMapper">
                                <xs:complexType>
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="defaultIdMapper">
                                <xs:complexType>
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="defaultSerializer">
                                <xs:complexType>
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="defaultKeepDeserialized" type="xs:string" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="cacheConfiguration" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cacheConfiguration" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cacheStoreFactory" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="type" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="queryEntities" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="queryEntity" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="fields" minOccurs="0" maxOccurs="1">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="queryField" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                                                    <xs:attribute name="fieldType" type="xs:string" />
                                                                                    <xs:attribute name="fieldTypeName" type="xs:string" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="aliases" minOccurs="0" maxOccurs="1">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="queryAlias" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="fullName" type="xs:string" use="required" />
                                                                                    <xs:attribute name="alias" type="xs:string" use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="indexes" minOccurs="0" maxOccurs="1">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="queryIndex" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="fields" minOccurs="0" maxOccurs="1">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="indexField" maxOccurs="unbounded">
                                                                                                        <xs:complexType>
                                                                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                                                                            <xs:attribute name="isDescending" type="xs:string" />
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="keyTypeName" type="xs:string"/>
                                                            <xs:attribute name="keyType" type="xs:string" />
                                                            <xs:attribute name="valueTypeName" type="xs:string" />
                                                            <xs:attribute name="valueType" type="xs:string" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" />
                                    <xs:attribute name="writeSynchronizationMode" type="xs:string" />
                                    <xs:attribute name="evictSynchronized" type="xs:string" />
                                    <xs:attribute name="evictSynchronizedKeyBufferSize" type="xs:unsignedByte" />
                                    <xs:attribute name="evictSynchronizedConcurrencyLevel" type="xs:unsignedByte" />
                                    <xs:attribute name="evictSynchronizedTimeout" type="xs:time" />
                                    <xs:attribute name="maxEvictionOverflowRatio" type="xs:decimal" />
                                    <xs:attribute name="startSize" type="xs:unsignedShort" />
                                    <xs:attribute name="loadPreviousValue" type="xs:string" />
                                    <xs:attribute name="atomicityMode" type="xs:string" />
                                    <xs:attribute name="atomicWriteOrderMode" type="xs:string" />
                                    <xs:attribute name="backups" type="xs:unsignedByte" />
                                    <xs:attribute name="lockTimeout" type="xs:time" />
                                    <xs:attribute name="invalidate" type="xs:string" />
                                    <xs:attribute name="rebalanceMode" type="xs:string" />
                                    <xs:attribute name="rebalanceBatchSize" type="xs:unsignedByte" />
                                    <xs:attribute name="enableSwap" type="xs:string" />
                                    <xs:attribute name="maxConcurrentAsyncOperations" type="xs:unsignedByte" />
                                    <xs:attribute name="writeBehindEnabled" type="xs:string" />
                                    <xs:attribute name="writeBehindFlushSize" type="xs:unsignedByte" />
                                    <xs:attribute name="writeBehindFlushThreadCount" type="xs:unsignedByte" />
                                    <xs:attribute name="writeBehindBatchSize" type="xs:unsignedByte" />
                                    <xs:attribute name="rebalanceTimeout" type="xs:time" />
                                    <xs:attribute name="rebalanceDelay" type="xs:string" />
                                    <xs:attribute name="rebalanceThrottle" type="xs:string" />
                                    <xs:attribute name="offHeapMaxMemory" type="xs:unsignedShort" />
                                    <xs:attribute name="memoryMode" type="xs:string" />
                                    <xs:attribute name="longQueryWarningTimeout" type="xs:time" />
                                    <xs:attribute name="sqlEscapeAll" type="xs:string" />
                                    <xs:attribute name="sqlOnheapRowCacheSize" type="xs:unsignedShort" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="jvmOptions" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="string" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="assemblies" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="string" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="lifecycleBeans" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="iLifecycleBean">
                                <xs:complexType>
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="discoveryConfiguration">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ipFinder">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="endPoints">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="string" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                    <xs:attribute name="localAddress" type="xs:string" use="required" />
                                    <xs:attribute name="multicastGroup" type="xs:string" use="required" />
                                    <xs:attribute name="multicastPort" type="xs:unsignedShort" use="required" />
                                    <xs:attribute name="addressRequestAttempts" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="responseTimeout" type="xs:string" use="required" />
                                    <xs:attribute name="timeToLive" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="socketTimeout" type="xs:time" use="required" />
                        <xs:attribute name="ackTimeout" type="xs:time" use="required" />
                        <xs:attribute name="maxAckTimeout" type="xs:time" use="required" />
                        <xs:attribute name="networkTimeout" type="xs:time" use="required" />
                        <xs:attribute name="joinTimeout" type="xs:time" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="includedEventTypes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="int" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="gridName" type="xs:string" use="required" />
            <xs:attribute name="jvmDllPath" type="xs:string" use="required" />
            <xs:attribute name="igniteHome" type="xs:string" use="required" />
            <xs:attribute name="jvmClasspath" type="xs:string" use="required" />
            <xs:attribute name="suppressWarnings" type="xs:string" use="required" />
            <xs:attribute name="jvmInitialMemoryMb" type="xs:unsignedShort" use="required" />
            <xs:attribute name="jvmMaxMemoryMb" type="xs:unsignedShort" use="required" />
            <xs:attribute name="clientMode" type="xs:string" use="required" />
            <xs:attribute name="metricsExpireTime" type="xs:time" use="required" />
            <xs:attribute name="metricsHistorySize" type="xs:unsignedByte" use="required" />
            <xs:attribute name="metricsLogFrequency" type="xs:string" use="required" />
            <xs:attribute name="metricsUpdateFrequency" type="xs:string" use="required" />
            <xs:attribute name="networkSendRetryCount" type="xs:unsignedByte" use="required" />
            <xs:attribute name="networkSendRetryDelay" type="xs:time" use="required" />
            <xs:attribute name="networkTimeout" type="xs:time" use="required" />
            <xs:attribute name="workDirectory" type="xs:string" use="required" />
            <xs:attribute name="localHost" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>    
</xs:schema>
